
<link href="~/Content/Site.css" rel="stylesheet" />
<form method="post">
    <input type="text" name="firstname" class=" form-control" placeholder="enter name" />
    <input type="text" name="lastname" class="form-control" placeholder="enter Last name" />
    <input type="tel" name="phonenumber" class="form-control" placeholder="enter phonenumber" />
    <br /><br/>
    <input type="submit" class="btn btn-success" style="margin-left : 600px;" placeholder="submit" />
</form>