    @model Asp.net_mvc_2.Models.Students

    <table class="table table-active">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Last name</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>@Model.StudentId</td>
            <td>@Model.StudentName</td>
            <td>@Model.StudentFamily</td>
            <td>@Model.StudentAge</td>
        </tr>
    </table>
